* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #C2B2B4;
  color: #FFF;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
}

.title {
  padding-top: 15px;
  margin: auto;
}

h1 {
  display: inline;
  font-size: 70px;
  letter-spacing: 5px;
}

.logo {
  margin: 0px 10px 0px 5px;
  height: 64px;
}

header {
  height: 500px;
}

header, .inputs {
  background-color: #3E2A35;

}

.inputs {
  height: 250px;
  width: 606px;
  margin: auto;

}

label {
  font-weight: 600;
}

.input-label {
  display: inline-block;
  float: left;
  margin: 10px 0px;
  color: #938284;
  font-size: 21px;
}

#input-title, #input-caption {
  display: block;
  padding: 0 10px;
  margin: auto;
  width: 605px;
  height: 54px;
  font-size: 21px;
}

.button {
  width: 230px;
  height: 50px;
  border: none;
  background-color: #5B4447;
  color: #FFF;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 30px 0px;
}

.button:hover {
  background-color: #938284;
  cursor: pointer;
}

#add {
  margin-left: 42px;
}

#choose {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.cards {
  padding: 40px 66px;
}

.single-card {
  position: relative;
  display: inline-block;
  float: left;
  margin: 20px;
  width: 245px;
  height: 335px;
  background-color: #FFF;
  border: 2px solid #938284;
  text-align: left;
}

.single-card h2, .single-card p {
  margin: 8px 12px;
  color: #3E2A35;
  font-size: 20px;
  font-weight: lighter;
}

.pink-background {
  background-color: #E26D5A;
}

.card-photo {
  object-fit: cover;
  width: 241px;
  height: 142px;
}

.card-footer {
  position: absolute;
  top: 276px;
  width: 241px;
  height: 55px;
  background-color: #5B4447;
  padding: 12px;
}

.card-icons {
  display: inline-block;
  width: 33px;
  height: 33px;
}

.heart {
  float:right;
  background-image: url('images/favorite.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.heart-active {
  background-image: url('images/favorite-active.svg');
}

.heart:hover {
  background-image: url('images/favorite-active.svg');
}


#trash {
  background-image: url('images/delete.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#trash:hover {
  background-image: url('images/delete-active.svg');
}
